{% extends "base.html" %}

{% block content %}
<center><h1>Текущая успеваемость</h1>
</center>
<div align="center">
    <table class="diary">
        <tr>
            <td class="t">
               <h4>
                   День
               </h4></td>
            <td class="t">
               <h4>
                   Математика
               </h4></td>
            <td class="t">
               <h4>
                   Русский
               </h4></td>
            <td class="t">
               <h4>
                   Химия
               </h4></td>
            <td class="t">
               <h4>
                   Физкультура
               </h4></td>
            <td class="t">
               <h4>
                   Информатика
               </h4></td>
        </tr>
        {% for user in rows %}
        <tr>
            <td class="t">
                <h4>b</h4>
            </td>
            <td class="t">
                <h4>{{user.date}}</h4>
            </td>
            <td class="t">
                <h4>{{user.math}}</h4>
            </td>
            <td class="t">
                <h4>{{user.russian}}</h4>
            </td>
            <td class="t">
                <h4>{{user.chemistry}}</h4>
            </td>
            <td class="t">
                <h4>{{user.pe}}</h4>
            </td>
            <td class="t">
                <h4>{{user.it}}</h4>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}