<!-- templates/history.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/s1.css">
    <title>Yandex - Академия</title>
</head>
<body>
    <center>
    <div class="header" ><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    </center>
    <p></p>
    <div class="begin">
        <center>
            <h1>Яндекс - Академия</h1>
            <h1>Знания лишними не бывают!</h1>
        </center>
    </div>
    <div class="button">
        <center>
            <a href="http://127.0.0.1:5000/main" class="btn"><h2>Главная</h2></a>
        <a href="http://127.0.0.1:5000/history" class="btn"><h2>История Академии</h2></a>
        <a href="http://127.0.0.1:5000/posts" class="btn"><h2>Школьная жизнь</h2></a>
        <a href="http://127.0.0.1:5000/teachers" class="btn"><h2>Школьный персонал</h2></a>
        <a href="http://127.0.0.1:5000/diary" class="btn"><h2>Электронный дневник</h2></a></center>
    </div>
    <br>
    <!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>