<!-- templates/history.html -->
{% extends "base_list.html" %}

{% block content %}
    <div class="text_left">
        <table>
        <tr>
            <td>
                <h2>
                    О школе
                </h2>
                <h3>
                    «Яндекс - академия» - новый крупный центр дополнительного образования в Ярославле.
                    4 первых филиала в разных районах города, десятки профессиональных преподавателей, сотни будущих довольных учеников и родителей.
                    С 2022 года мы также развиваем направление онлайн-обучения.<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/1.jpg" alt="здесь должна была быть картинка, но не нашлась"
width="500" height="300">
            </td>
        </tr></table>
    </div>
    <br>
    <div class="text_right">
        <table>
        <tr>
            <td>
                <img class="img_right" src="/static/img/h2.jpg" alt="здесь должна была быть картинка о ЕГЭ, но не нашлась"
width="500" height="300">
        </td><td>
        <h2>
            Открытие
        </h2>
        <h3>
            Мы открылись в январе 2022 года. "0-вой" год обучения мы провели в таких городах, как
            Москва, Ярославль, Кострома, Воронеж, Севастополь.<br>
            Мы готовили группы перед первым набором в нашу школу.<br>
        </h3></td>
        </tr></table>
    </div>
<br>
    <div class="text_left">
        <table>
            <tr>
                <td>
                     <h2>
                        0 - вой год.
                    </h2>
                    <h3>
                        Мы изучали язык программирования Python, язык верстки сайтов HTML.<br>
                    </h3>
                </td>
                <td>
                        <img class="img_left" src="/static/img/h3.jpg" alt="здесь должна была быть картинка о ОГЭ, но не нашлась"
width="500" height="300">
                </td>
            </tr>
        </table>
    </div>
<br>
    <div class="text_right">
        <table>
            <tr>
                <td>
                    <img class="img_right" src="/static/img/h4.jpg" alt="здесь должна была быть картинка о ВПР, но не нашлась"
width="500" height="300">
                </td>
                <td>
                    <h2>
            Первый набор
                    </h2>
                    <h3>
            Мы провели первый год занятий в нашей школе с 1 октября по 31 марта. К нам пришло более 5000 учеников,
                        захотевшие посвятить свою жизнь компьютерному делу.<br>
                    </h3>
                </td>
            </tr>
        </table>
    </div>
<br>
    <div class="text_left">
        <table>
            <tr>
                <td>
                    <h2>
            Первый "выпускной"
                    </h2>
                     <h3>
            Школьная программа предполагает обучение на 2 года. Но специально для наших первых студентов мы провели "выпускной".
                         На нем мы вручали грамоту об окончании первого семестра, а также небольшой подарочек.
                     </h3>
                </td>
                <td>
                    <img class="img_left" src="/static/img/h5.jpg" alt="здесь должна была быть картинка о мелюзге, но не нашлась"
width="500" height="300">
                </td>
            </tr>
        </table>
    </div>
<br>
<div class="under_body">
        <center><h6>
            Наши телефоны: 88005553535, 89910392596, 89010549120. Набирайте когда хотите.<br></h6></center>
    </div>
{% endblock %}