<!-- templates/main.html -->


{% extends "base_list.html" %}

{% block content %}
    <div class="text_left">
        <table>
        <tr>
            <td>
                <h2>
                    О школе
                </h2>
                <h3>
                    «Яндекс - академия» - новый крупный центр дополнительного образования в Ярославле.
                    4 первых филиала в разных районах города, десятки профессиональных преподавателей, сотни будущих довольных учеников и родителей.
                    С 2022 года мы также развиваем направление онлайн-обучения.<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/1.jpg" alt="здесь должна была быть картинка, но не нашлась"
width="500" height="300">
            </td>
        </tr></table>
    </div>
    <br>
    <div class="text_right">
        <table>
        <tr>
            <td>
                <img class="img_right" src="/static/img/2.jpg" alt="здесь должна была быть картинка о ЕГЭ, но не нашлась"
width="500" height="300">
        </td><td>
        <h2>
            Подготовка к ЕГЭ (10 - 11 классы)
        </h2>
        <h3>
            Научим решать задания любой сложности и разберем все актуальные темы с квалифицированным педагогом.<br>
        </h3></td>
        </tr></table>
    </div>
<br>
    <div class="text_left">
        <table>
            <tr>
                <td>
                     <h2>
                        Подготовка к ОГЭ (8 - 9 классы)
                    </h2>
                    <h3>
                        Наши преподаватели помогут систематизировать знания школьной программы и научат правильно решать любые типы заданий.<br>
                    </h3>
                </td>
                <td>
                        <img class="img_left" src="/static/img/3.jpg" alt="здесь должна была быть картинка о ОГЭ, но не нашлась"
width="500" height="300">
                </td>
            </tr>
        </table>
    </div>
<br>
    <div class="text_right">
        <table>
            <tr>
                <td>
                    <img class="img_right" src="/static/img/4.jpg" alt="здесь должна была быть картинка о ВПР, но не нашлась"
width="500" height="300">
                </td>
                <td>
                    <h2>
            Подготовка к ВПР (5 - 8 классы)
                    </h2>
                    <h3>
            Боитесь провала экзамена? Тогда идите к нам!<br>
                    </h3>
                </td>
            </tr>
        </table>
    </div>
<br>
    <div class="text_left">
        <table>
            <tr>
                <td>
                    <h2>
            Подготовка к школе (1 - 4 классы)
                    </h2>
                     <h3>
            Мы предлагаем Скорочтение, Ментальную арифметику, Исправление почерка.
            Предлагаем и базовые основы для таких будущих предметов, как Биология, География и История.<br>
                    </h3>
                </td>
                <td>
                    <img class="img_left" src="/static/img/5.jpg" alt="здесь должна была быть картинка о мелюзге, но не нашлась"
width="500" height="300">
                </td>
            </tr>
        </table>
    </div>
<br>
    <div class="text_right">
        <table>
            <tr>
                <td>
                    <img class="img_right" src="/static/img/6.jpg" alt="здесь должна была быть картинка о ВПР, но не нашлась"
width="300" height="300">
                </td>
                <td>
                    <h2>
            Контакты
                    </h2>
                    <h3>
                        У нас есть группа в "ВКонтакте" и в "Телеграмме".
                        Переходите по ссылкам:<br>
                        ВК: <a href="https://vk.com/yandex_lms">Группа</a><br>
                        Телеграмм: <a href="https://t.me/+V8FtGQ5E1Lg1OWRi">Канал</a><br>
                    </h3>
                </td>
            </tr>
        </table>
    </div>
    <div class="under_body">
        <center><h6>
            Наши телефоны: 88005553535, 89910392596, 89010549120. Набирайте когда хотите.<br></h6></center>
    </div>
{% endblock %}