<!-- templates/posts.html -->

{% extends "base_list.html" %}

{% block content %}
<center><h1>Школьная жизнь</h1></center>
<center>
<div class="vk">
<div id="vk_post_-219599648_8"></div>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<script type="text/javascript">
  (function() {
    VK.Widgets.Post("vk_post_-219599648_8", -219599648, 8, 'DSQi-qniWQx-Mx7e445_jhB_8cXc');
  }());
</script>
<center><h3>Наши будущие выпускники готовятся к экзаменам. Изучают первообразные и производные.</h3></center>
<br><div id="vk_post_-219599648_7"></div>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<script type="text/javascript">
  (function() {
    VK.Widgets.Post("vk_post_-219599648_7", -219599648, 7, 'DfJLrbZzJx8a4sZTwEipV0vitZJI');
  }());
</script>
<center><h3>Наши ученики на перемене.</h3></center>
<br>
<div id="vk_post_-219599648_5"></div>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<script type="text/javascript">
  (function() {
    VK.Widgets.Post("vk_post_-219599648_5", -219599648, 5, 'FbufSKHlvESJNRCHGPuGI5h-xA8S');
  }());
</script>
    <center><h3>Наши первоклассники 1 сентября. Счастливые родители и дети знакомятся со своими учителями.
    На линейке присутствует наш директор Жмышенко Михаил Петрович.
    </h3></center>
<div class="under_body">
        <center><h6>
            Наши телефоны: 88005553535, 89910392596, 89010549120. Набирайте когда хотите.<br></h6></center>
    </div></div></center>
{% endblock %}