<!-- templates/teachers.html -->

{% extends "base_list.html" %}

{% block content %}
    <div class="text_left">
        <table>
        <tr>
            <td>
                <h2>
                    Виктор Рабин
                </h2>
                <h3>
                    Учитель информатики. Специалист во всем.<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/t1.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <img class="img_left" src="/static/img/t2.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <h2>
                    Русаков Сергей Демьянович
                </h2>
                <h3>
                    Учитель информатики. Специалист почти во всем.<br>
                </h3>
            </td>
        </tr></table>
    </div>
<br>
    <div class="text_right">
        <table>
        <tr>
            <td>
                <h2>
                    Виноградова Владислава Семёновна
                </h2>
                <h3>
                    Учитель физкультуры. Наша спортивная гордость<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/t3.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <img class="img_left" src="/static/img/t4.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <h2>
                    Логинов Леонид Максимович
                </h2>
                <h3>
                    Учитель русского. Наш самый молодой специалист.<br>
                </h3>
            </td>
        </tr></table>
    </div>
<br>
    <div class="text_left">
        <table>
        <tr>
            <td>
                <h2>
                    Мартынова Виктория Романовна
                </h2>
                <h3>
                    Учитель информатики. Подготовить вашего ребенка на 100+ баллов по информатике.<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/t5.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <img class="img_left" src="/static/img/t6.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <h2>
                    Карл Денисович Штейн
                </h2>
                <h3>
                    Учитель физкультуры. Организатор всех наших соревнований и эстафет.<br>
                </h3>
            </td>
        </tr></table>
    </div>
<br>
    <div class="text_right">
        <table>
        <tr>
            <td>
                <h2>
                    Мальцева Мария Петровна
                </h2>
                <h3>
                    Учитель математики. Поможет понять ребенку сложную тему на 5++++.<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/t7.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <img class="img_left" src="/static/img/t8.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <h2>
                    Козлов Николай Александрович
                </h2>
                <h3>
                    Учитель химии. Прекрасно преподает свой предмет как...<br>
                </h3>
            </td>
        </tr></table>
    </div>
<br>
    <div class="text_right">
        <table>
        <tr>
            <td>
                <h2>
                    Агапова Александра Даниловна
                </h2>
                <h3>
                    Учитель математики. Подготовит вашего ребенка на всевозможные олимпиады.<br>
                </h3>
            </td>
            <td>
                <img class="img_left" src="/static/img/t9.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <img class="img_left" src="/static/img/t10.jpg" width=300 alt="здесь должна была быть картинка, но не нашлась"
height="300">
            </td>
            <td>
                <h2>
                    Логинов Леонид Максимович
                </h2>
                <h3>
                    Учитель русского. Логичен.<br>
                </h3>
            </td>
        </tr></table>
    </div><br>
    <div class="under_body">
        <center><h6>
            Наши телефоны: 88005553535, 89910392596, 89010549120. Набирайте когда хотите.<br></h6></center>
    </div>
{% endblock %}